Update RFC references

(7) Update many RFCs as they were obsoleted since then (e.g., RFC 5996, RFC 6204, RFC 5389, RFC 5766, RFC 5245, ..)

Reported by Med